
body {
  font-family: "Open Sans", sans-serif;
  /* color: #444444; */
  color: #e8e2e2;  /*changing the font color to light white*/
 /*setting my own background color*/
 background-color: white;
 /* background: url("/assets/img/backgroundTest.jpg"); */
}

a {
  color: green;;
  /* color: #34b7a7; */
  text-decoration: none
}

a:hover {
  color: #5197cd;
  text-decoration: none;
}

.fa-face-smile-horns{
  color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: green; /*setting all headers to this color*/

}


#main {
  margin-top: 50px;
}

#main .fa-solid{
  color: green;   /*trying to add a back arrow to the page*/
  position: fixed;
  visibility:visible;
  top: 100px;
  /* z-index: 1; */
  opacity: 10;
  width: 40px;
  height: 100px;
  font-weight: bolder;
}

#main .fa-arrow-left-long{
  left: 15px;
}
#main .fa-arrow-right-long{
  right: 15px;
}


/* *
A media query is a condition that can be used to apply styles based on the characteristics of the device or viewport. 
In this case, the media query uses the max-width property to apply the styles only if the viewport has a maximum width of 992 pixels or less.
that is, when the screen is splitted and made smaller/ a mobile phone.
*/
@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #e8e2e2;
  
}

/* 
The :before pseudo-element is used to insert content before an element's content.
 It is often used to add decorative elements or to display additional information.

 The -webkit-animation and animation properties are used to apply an animation to the pseudo-element, 
 which is defined elsewhere in the CSS file.
*/
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid green;
  border-top-color: #e8e2e2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

/*
The @-webkit-keyframes rule is used to define the animation for webkit-based browsers, such as Google Chrome. 
The @keyframes rule is used to define the animation for other browsers.
*/
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button

the . operator is used to style elements based on their class, and the # operator is used to style elements based on their id.
 Both can be used to apply styles to multiple elements,
 but the id attribute must be unique within a document, while the class attribute can be used multiple times on different elements.
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: green;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
/*
The z-index property in CSS is used to specify the stacking order of elements. 
It determines which element is displayed on top of other elements when they overlap.
Elements with a higher z-index value will be displayed on top of elements with a lower z-index value. 
If two elements have the same z-index value, the element that appears later in the HTML document will be displayed on top.
*/

.back-to-top i {
  font-size: 24px;
  color: #e8e2e2;
  line-height: 0;
}

.back-to-top:hover {
  /* background: #49cbbb; */
  background: #000000;
  color: #e8e2e2;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.gradient {
  background-image: linear-gradient(to bottom, red 0%, blue 50%);
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /* background: #e8e2e2;
  background: rgb(147, 222, 147); */
  background: linear-gradient(to right, rgb(1, 48, 1) 20%,rgb(66, 169, 66) 30%);
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #222222;
}

#header .logo img {
  max-height: 50px;
  min-width: 190px; /*added this myself to make sure the logo was wide and clear but realised this widens up the space not the actual image */
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-right: 15px;
  padding-left: 20px;
  margin-left: 20px;
}

.header-social-links a {
  /* color: #6f6f6f; */
  color: #000000;
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.header-social-links a:hover {
  /* color: #34b7a7; */
  color: green;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000; /* this is the color of home,about,resume etc on the header when not selected*/
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/*The :before pseudo-element is selected using the .navbar>ul>li>a chain of parent-child selectors,
 which means that it will be applied to the a element that is a direct child of an li element, 
which is a direct child of a ul element, which is a direct child of a navbar element.
*/
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: green;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,

.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #222222;
  color: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 0;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color:green;

}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 15px;
  padding-right: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: green;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: green;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: url("../img/green_landing_image.jpg") center;  */
  /* background: url("../img/_mercedes_electric_2024.jpeg") currentColor;  */
  /* background: url("../img/mercedes_electric_2023.jpg") center;  */
  background: url("../img/green\ drive-5.svg") center; 
  background: url("../img/forestwithCar.jpg") center;
  /* background: url("../img/forestWithClassicCar.jpg") center; */
  background-size: cover;
  background-attachment: scroll;
}

#hero .slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero .slideshow-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slideshow 10s infinite;
}

@keyframes slideshow {
  0% {
    background: url("../img/_mercedes_electric_2024.jpeg"); 
  }
  25% {
    background: url("../img/mercedes_electric_2023.jpg")
  }
  50% {
    background: url("../img/mercedes_electric_2023.jpg");
  }
}

#hero .container {
  padding-top: 70px;
  position: relative;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}

#hero h2 {
  color: #6f6f6f;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: green;
}

#hero .btn-about:hover {
  /* background: #3dc8b7; */
  background: #012521;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; 
    /* The background image should not scroll along with the page */
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";

    /* TODO: I NEED TO PUSH THIS CODE TO GIHUB */
 /* TODO This means that when the page is splitted, the background should change to this color */

    background: rgba(1, 41, 52, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.fa-solid{
  color: green;   /*trying to add a back arrow to the page*/
  position: fixed;
  visibility:visible;
  top: 100px;
  /* z-index: 1; */
  opacity: 10;
  width: 40px;
  height: 100px;
  font-weight: bolder;
}

.fa-arrow-left-long{
  left: 15px;
}

.fa-arrow-right-long{
  right: 15px;
}

/*-------------------------------------------------------------
    Font alignment in hero
--------------------------------------------------------------*/
.inner{
  text-align: left;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #e7f8f6; /*I don't know what it does*/
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: green;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-1.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: green;
  border: 2px solid green;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  height: 350px;
  width: 100%;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  /* background: rgb(106, 150, 106); */
  background: url("../img/forestWithClassicCar.jpg");
  background: rgb(166, 164, 161);

  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}


.services h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
  text-align: center;
  /* padding-left: 4%; */
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  /* fill: #f5f5f5; */
  fill:  #c3dbd8
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: black; 
  text-align: left;
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  background: url("../img/green_landing_image.jpg");
  background-repeat:round;
}
.contact .info {
  width: 100%;
  /* background: #fff; */
  background: green;
}

.contact .info i {
  font-size: 20px;
  color: #34b7a7;
  float: left;
  width: 44px;
  height: 44px;
  /* background: #effbf9; */
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  /* color: #555555; */
  color: yellow;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #34b7a7;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #34b7a7;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #34b7a7;
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3dc8b7;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*-------------------------------------------------------------
cost-tracking section in main page
 -------------------------------------------------------------*/
 #cost{

 }

 #cost h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
  text-align: right;
  padding-right: 4%;
 }
/*-------------------------------------------------------------
Professionals section in main page
 -------------------------------------------------------------*/
#Professionals{

}

#Professionals h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
  text-align: left;
  padding-left: 4%;
}

#Professionals img{
    float: right;
    margin-right: 4%; /* add some space between the image and the content */
}

 
/*-------------------------------------------------------------
    Search box
--------------------------------------------------------------*/

#Search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Search-box  input{
  width: 120%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 5px;
}

#Search-box  button{
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(21, 148, 191);
  color: white;
  border: none;
  border-radius: 5px;
}

#aim {
padding: 2% 4% 2% 4%; /* for the paragraphs on the homepage after herowhat*/  
}

#aim h1{
margin: 0;
font-size: 48px;
font-weight: 700;
line-height: 56px;
color: black;
}

/***************************************************
Our services
****************************************************/

.OurServices{
  background: url("/assets/img/forestWithClassicCar.jpg"); 
  padding: 2% 4% 2% 4%;
}

.OurServices h1{
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.OurServices p{
  width: 100px;
  height: 700px;
}

.OurServices .ServiceContainer{
    /* max-width: 600px;
    margin-top: 40px;  not needed again because of the translate*/
    /* margin-left: 420; making the container appear on top left  same reason as above*/
    padding:  20px 30px 20px 30px;
    background-color: #4cdd5874;
    border-radius: 10px; /*to make the corners of the forms rounded*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*The top and left properties are set to 50% each to center the container
      element in the middle of the screen.
      The transform property is used to translate the container element upwards 
      and to the left by 50% of its own height and width respectively, 
      effectively centering it both horizontally and vertically.
*/

  }
  
  form {
    /*display: block; /*making it flex will make it lie side by side*/
    border-radius: 10px;  
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 5px;
  }
  
  .OurServices .label {
    font-weight: bold;
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 10px;
    border:rgb(21, 224, 21); /*find out*/
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  button[type="submit"] { /*this is called attribute selector*/
    margin-left: 40%;
    padding: 10px 20px;
    border: none;
    background-color: #01080e;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005ca3;
  }

  /***************************************************
dropdown in the ourServices Session
****************************************************/
 select {
  margin-bottom: 9px;
  border-radius: 10px;
  padding : 6px 6px;
}

.OurServices a{
  color: #000000;
  
}
.OurServices a{
  text-decoration: underline;
  
}
.OurServices a:hover{
  color: green;
}

.recommendedMechanics{
  margin: 50px 100px;
}

/***************************************************
cursor 
****************************************************/

.hollow-circle {
  cursor: url("/assets/img/circle-cursor.svg") 16 16, auto;
}




/***************************************************
Recommended Mehanics 
****************************************************/

.recommendedMechanics p{
  color: black;
}

.recommendedMechanics button{
  color:white;
  border-radius: 10px;
  background-color: green;
}

.recommendedMechanics button:hover{
  background-color: black;
  color: green;
}
.top-right { /*specifically to make text appear on the top right corner*/

  margin-top: 120px;
  margin-right: 50px;
  position: absolute;
  top: 0;
  right: 0;
}


/*--------------------------------------------------------------
# About page
--------------------------------------------------------------*/
.about{
  background: url("../img/green\ drive-9.svg");
  background-repeat: round;
  height: 300px;
}

.abouttxt{
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 80px;
}

.aboutstory{
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #e8e2e2;
  /* background: #99e8e3; */
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
  /* text-align: center; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #34b7a7;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-footer{
  margin-left: 25px;
}

.right-footer{
  margin-right: 25px;
}
.left-footer ul,
.middle-footer ul,
.right-footer ul {
  display: inline-block;
  text-align: center;
}

.left-footer ul li,
.middle-footer ul li,
.right-footer ul li {
  display: block;
  margin: 0 10px;
}

/********************************************
Sign Up page
********************************************/


/* Full-width input fields */

.signup  input[type=text], input[type=password] {
  width: 100%; /* width of that page that shows up when the sign up is clicked*/
  padding: 10px;
  margin: 5px 0 5px 0;
  display: block;
  background: #ffffff;
}

/* Add a background color when the inputs get focus */
.signup input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.signup button {
  background-color: #04AA6D;
  color: white;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.signup .cancelbtn {
  padding: 10px;
  background-color: #e51506;
  display: block;
  border: none;
  border-radius: 5px;
  /* margin-right: 10px; */
  
}

/* Float cancel and signup buttons and add an equal width */
.signup .cancelbtn, .signupbtn {
  /* float: left; */
  width: 100%;
}

/* Add padding to container elements */
.signup .container {
  padding: 16px;
}

/* The Modal (background) */
.signup .modal {
  display: none; /* Hidden by default */
  position:fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow:hidden; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.044);
  padding-top: 60px;
  margin: 0 20% 0 24%; /*This is what makes it appear at the left side*/
}

/* Modal Content/Box */
.signup .modal-content {
  background-color: rgba(0, 0, 0, 0.177);
  background-color: #000;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #08db2f;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
.signup hr {
  border: 2px solid #ff0000;
  margin-bottom: 25px;
}

/* Clear floats */
.signup .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn,.modal, .modal-content {
    width: 100%;
  }
}


/******************************************************
Login Up 
******************************************************/
/* The Modal (background) */

.login .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */

  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0, 0, 0, 0.233); /* Black w/ opacity */
  padding-top: 60px;
  margin: 0 20% 0 24%; /*This is what makes it appear at the left side*/
}

/* Modal Content/Box */
.login .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;  /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #08db2f;
  width: 50%; /* Could be more or less, depending on screen size */
}

.login button {
  background-color: #0470aa; /*#04AA6D;*/
  color: white;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
/* Extra styles for the cancel button */
.login .cancelbtn {
  padding: 10px;
  background-color: #e51506;
  display: block;
  border: none;
  border-radius: 5px;
  
}

.login .cancelbtn:hover{
  opacity: 1;
}

.login .loginbtn{
  background-color: #04AA6D;;
}
/* Float cancel and signup buttons and add an equal width */
.login .cancelbtn, .loginbtn {
  width: 100%;
}

/* Add padding to container elements */
.login .container {
  padding: 16px;
}
.login input[type=text], input[type=password] {
  width: 100%; /* width of that page that shows up when the sign up is clicked*/
  padding: 10px;
  margin: 5px 0 5px 0;
  display: block;
  background: #ffffff;
}

/* Add a background color when the inputs get focus */
.login input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}