
body {
  font-family: "Open Sans", sans-serif;
  color: #e8e2e2;  /*changing the font color to light white*/
 /*setting my own background color*/
 background-color: white;
 background-color: rgba(11, 233, 41, 0.211);

}

a {
  color: green;;
  /* color: #34b7a7; */
  text-decoration: none
}

a:hover {
  color: #5197cd;
  text-decoration: none;
}

.fa-face-smile-horns{
  color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: green; /*setting all headers to this color*/

}


#main {
  margin-top: 50px;
}

#main .fa-solid{
  color: green;   /*trying to add a back arrow to the page*/
  position: fixed;
  visibility:visible;
  top: 100px;
  /* z-index: 1; */
  opacity: 10;
  width: 40px;
  height: 100px;
  font-weight: bolder;
}

#main .fa-arrow-left-long{
  left: 15px;
}
#main .fa-arrow-right-long{
  right: 15px;
}


/* *
A media query is a condition that can be used to apply styles based on the characteristics of the device or viewport. 
In this case, the media query uses the max-width property to apply the styles only if the viewport has a maximum width of 992 pixels or less.
that is, when the screen is splitted and made smaller/ a mobile phone.
*/
@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #e8e2e2;
  
}

/* 
The :before pseudo-element is used to insert content before an element's content.
 It is often used to add decorative elements or to display additional information.

 The -webkit-animation and animation properties are used to apply an animation to the pseudo-element, 
 which is defined elsewhere in the CSS file.
*/
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid green;
  border-top-color: #e8e2e2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

/*
The @-webkit-keyframes rule is used to define the animation for webkit-based browsers, such as Google Chrome. 
The @keyframes rule is used to define the animation for other browsers.
*/
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button

the . operator is used to style elements based on their class, and the # operator is used to style elements based on their id.
 Both can be used to apply styles to multiple elements,
 but the id attribute must be unique within a document, while the class attribute can be used multiple times on different elements.
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: green;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
/*
The z-index property in CSS is used to specify the stacking order of elements. 
It determines which element is displayed on top of other elements when they overlap.
Elements with a higher z-index value will be displayed on top of elements with a lower z-index value. 
If two elements have the same z-index value, the element that appears later in the HTML document will be displayed on top.
*/

.back-to-top i {
  font-size: 24px;
  color: #e8e2e2;
  line-height: 0;
}

.back-to-top:hover {
  /* background: #49cbbb; */
  background: #000000;
  color: #e8e2e2;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.gradient {
  background-image: linear-gradient(to bottom, red 0%, blue 50%);
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

  background: linear-gradient(to right, rgb(1, 48, 1) 20%,rgb(66, 169, 66) 30%);
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #222222;
}

#header .logo img {
  max-height: 50px;
  min-width: 190px; /*added this myself to make sure the logo was wide and clear but realised this widens up the space not the actual image */
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-right: 15px;
  padding-left: 20px;
  margin-left: 20px;
}

.header-social-links a {
  /* color: #6f6f6f; */
  color: #000000;
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.header-social-links a:hover {
  /* color: #34b7a7; */
  color: green;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000; /* this is the color of home,about,resume etc on the header when not selected*/
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/*The :before pseudo-element is selected using the .navbar>ul>li>a chain of parent-child selectors,
 which means that it will be applied to the a element that is a direct child of an li element, 
which is a direct child of a ul element, which is a direct child of a navbar element.
*/
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: green;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,

.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  /* color: #222222; */
  color: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 0;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color:green;

}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 15px;
  padding-right: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: green;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: green;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;; 
  background: url("../img/forestwithCar.jpg") center;
  background-size: cover;
  background-attachment: scroll;
}



#hero .container {
  padding-top: 70px;
  position: relative;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}

#hero h2 {
  color: #6f6f6f;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: green;
}

#hero .btn-about:hover {
  /* background: #3dc8b7; */
  background: #012521;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; 
    /* The background image should not scroll along with the page */
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";

    /* TODO: I NEED TO PUSH THIS CODE TO GIHUB */
 /* TODO This means that when the page is splitted, the background should change to this color */

    /* background: rgba(1, 41, 52, 0.8); */

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.fa-solid{
  color: green;   /*trying to add a back arrow to the page*/
  position: fixed;
  visibility:visible;
  top: 100px;
  /* z-index: 1; */
  opacity: 10;
  width: 40px;
  height: 100px;
  font-weight: bolder;
}

.fa-arrow-left-long{
  left: 15px;
}

.fa-arrow-right-long{
  right: 15px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #e7f8f6; /*I don't know what it does*/
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: green;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-1.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: green;
  border: 2px solid green;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  height: 350px;
  width: 100%;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  background: url("../img/forestWithClassicCar.jpg");
  background: rgb(166, 164, 161);
  filter: brightness(0.3);


  box-shadow: 0px 0 35px 0 rgba(54, 51, 51, 0);
}

.icon-box:hover  {
  filter: brightness(1); /* Set the brightness of the image on hover */
}


.services h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
  text-align: center;
  /* padding-left: 4%; */
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  /* fill: #f5f5f5; */
  fill:  #c3dbd8
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: black; 
  text-align: left;
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  background: white;
  background-repeat:round;
}
.contact .info {
  width: 100%;
  /* background: #fff; */
  background: green;
}

.contact-section-title {
  color: #fefefe;
  text-align: center;
}

.contact .info i {
  font-size: 20px;
  color: #34b7a7;
  float: left;
  width: 44px;
  height: 44px;
  /* background: #effbf9; */
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  /* color: #555555; */
  color: yellow;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #34b7a7;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  /* background: #fff; */
  background: #ab1717;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #34b7a7;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #34b7a7;
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3dc8b7;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*-------------------------------------------------------------
cost-tracking section in main page
 -------------------------------------------------------------*/
 #cost{
  padding: 2% 4%;
 }

 #cost h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
  text-align: right;
  padding-right: 4%;
 }
/*-------------------------------------------------------------
Professionals section in main page
 -------------------------------------------------------------*/
#Professionals{
  padding: 2% 4%;
}

#Professionals h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
  text-align: left;
  padding-left: 4%;
}

#Professionals img{
    float: right;
    margin-right: 4%; /* add some space between the image and the content */
}

 
/*-------------------------------------------------------------
    Search box
--------------------------------------------------------------*/

#Search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Search-box  input{
  width: 120%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 5px;
}

#Search-box  button{
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(21, 148, 191);
  color: white;
  border: none;
  border-radius: 5px;
}

#aim {
padding: 2% 4%; /* for the paragraphs on the homepage after herowhat*/  
}

#aim h1{
margin: 0;
font-size: 48px;
font-weight: 700;
line-height: 56px;
color: black;
}

/***************************************************
Our services
****************************************************/

.OurServices{
  background: url("/assets/img/forestWithClassicCar\ -\ Copy2.jpg"); 
  background-position: center;
  padding: 2% 4% 2% 4%;
}

.OurServices h1{
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.OurServices p{
  width: 100px;
  height: 800px;
}

.OurServices .ServiceContainer{
    /* max-width: 600px;
    margin-top: 40px;  not needed again because of the translate*/
    /* margin-left: 420; making the container appear on top left  same reason as above*/
    padding:  20px 30px 20px 30px;
    background-color: #4cdd587b;
    /*background-color: #3793de;*/
    border-radius: 10px; /*to make the corners of the forms rounded*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*The top and left properties are set to 50% each to center the container
      element in the middle of the screen.
      The transform property is used to translate the container element upwards 
      and to the left by 50% of its own height and width respectively, 
      effectively centering it both horizontally and vertically.
*/

  }
  
  form {
    /*display: block; /*making it flex will make it lie side by side*/
    border-radius: 10px;  
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 5px;
  }
  
  .OurServices .label {
    font-weight: bold;
    margin-right: 10px;
  }

  input[type="text"] {
    padding: 10px;
    border:rgb(21, 224, 21); /*find out*/
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  button[type="submit"] { /*this is called attribute selector*/
    margin-left: 40%;
    padding: 10px 20px;
   


    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(6, 201, 22);
    color: black;
  }

  /***************************************************
dropdown in the ourServices Session
****************************************************/
 select {
  margin-bottom: 9px;
  border-radius: 10px;
  padding : 6px 6px;
}

.OurServices a{
  color: #000000;
  
}
.OurServices a{
  text-decoration: underline;
  
}
.OurServices a:hover{
  color: green;
}

.recommendedMechanics{
  margin: 50px 100px;
}

/***************************************************
cursor 
****************************************************/

.cursor{
  position: fixed;
  width: 40px;
  height: 40px;
  background: #177005;
  border-radius: 50%;
  transform: translate(-50%, -50%); 
  pointer-events: none;
  mix-blend-mode: exclusion; 
  transition: 0.1s;
  z-index: 999;
}

h1:hover ~ .cursor {
  transform: scale(4);
}



/***************************************************
Recommended Mehanics 
****************************************************/

.recommendedMechanics p{
  color: black;
}

.recommendedMechanics button{
  color:white;
  border-radius: 10px;
  background-color: green;
}

.recommendedMechanics button:hover{
  background-color: black;
  color: green;
}
.top-right { /*specifically to make text appear on the top right corner*/

  margin-top: 120px;
  margin-right: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
/*--------------------------------------------------------------
# Register.html
--------------------------------------------------------------*/
#register-form {
  color: black;
  padding: 25% 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #register-form label,
  #register-form input [ type ="email" ],
  #register-form input [ type = "password" ] {
    width: 100%;
    max-width: 100px; /* Adjust this value to change the width of the input fields */
  }
  #register-form select,
  #register-form button {
    display: block;
    margin-bottom: 10px;
  }

/*--------------------------------------------------------------
# About page
--------------------------------------------------------------*/

.about-title{
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 80px;
  margin-top: 100px;;
}

.about{
  float: left;
  width: 50%; /* split logo from our story but csnt get the our team sec to seperate yet */
  padding: 15px;
  background: url("../img/green\ drive-9.svg");
  background-repeat: round;
  height: 300px;
}

.abouttxt{
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 80px;
}

.aboutstory{
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.ABOUTcolumn {
  float: left;
  width: 33.3%;  
  margin-bottom: 16px;
  padding: 0 8px;
}

.ABOUTcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.ABOUTcontainer {
  padding: 0 16px;
}

.Teamtxt {
  color: black;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer h1,h2,h3,h4,h5,h6{ /*not working as intended*/
  color: #047118;
}
#footer {
  background: #e8e2e2;
  /* background: #99e8e3; */
  padding: 30px 0;
  color: #222222;
  font-size: 14px;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #34b7a7;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-footer{
  margin-left: 25px;
}

.right-footer{
  margin-right: 25px;
}
.left-footer ul,
.middle-footer ul,
.right-footer ul {
  display: inline-block;
  text-align: center;
}

.left-footer ul li,
.middle-footer ul li,
.right-footer ul li {
  display: block;
  margin: 0 10px;
}

/********************************************
Sign Up page
********************************************/


/* Full-width input fields */

.signup  input[type=text], input[type=password] {
  width: 100%; /* width of that page that shows up when the sign up is clicked*/
  padding: 10px;
  margin: 5px 0 5px 0;
  display: block;
  background: #ffffff;
}

/* Add a background color when the inputs get focus */
.signup input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.signup button {
  background-color: #04AA6D;
  color: white;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.signup .cancelbtn {
  padding: 10px;
  background-color: #e51506;
  display: block;
  border: none;
  border-radius: 5px;
  /* margin-right: 10px; */
  
}

/* Float cancel and signup buttons and add an equal width */
.signup .cancelbtn, .signupbtn {
  /* float: left; */
  width: 100%;
}
/* login and register buttons */

.general-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.general-button:hover {
  background-color: white;
  color: black;
}


/* Add padding to container elements */
.signup .container {
  padding: 16px;
}

/* The Modal (background) */
.signup .modal {
  display: none; /* Hidden by default */
  position:fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow:hidden; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.044);
  padding-top: 60px;
  margin: 0 20% 0 24%; /*This is what makes it appear at the left side*/
}

/* Modal Content/Box */
.signup .modal-content {
  background-color: rgba(0, 0, 0, 0.177);
  background-color: #000;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #08db2f;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
.signup hr {
  border: 2px solid #ff0000;
  margin-bottom: 25px;
}

/* Clear floats */
.signup .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn,.modal, .modal-content {
    width: 100%;
  }
}


/******************************************************
Login Up 
******************************************************/
/* The Modal (background) */

.login .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */

  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0, 0, 0, 0.233); /* Black w/ opacity */
  padding-top: 60px;
  margin: 0 20% 0 24%; /*This is what makes it appear at the left side*/
}

/* Modal Content/Box */
.login .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;  /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #08db2f;
  width: 50%; /* Could be more or less, depending on screen size */
}

.login button {
  background-color: #0470aa; /*#04AA6D;*/
  color: white;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
/* Extra styles for the cancel button */
.login .cancelbtn {
  padding: 10px;
  background-color: #e51506;
  display: block;
  border: none;
  border-radius: 5px;
  
}

.login .cancelbtn:hover{
  opacity: 1;
}

.login .loginbtn{
  background-color: #04AA6D;;
}
/* Float cancel and signup buttons and add an equal width */
.login .cancelbtn, .loginbtn {
  width: 100%;
}

/* Add padding to container elements */
.login .container {
  padding: 16px;
}
.login input[type=text], input[type=password] {
  width: 100%; /* width of that page that shows up when the sign up is clicked*/
  padding: 10px;
  margin: 5px 0 5px 0;
  display: block;
  background: #ffffff;
}

/* Add a background color when the inputs get focus */
.login input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


/*******************************************************
  Guides page
********************************************************/

.guides{
  margin-top: 50px;
  background-color: #000000e6;
}

.guides h1,h2,h3,h4,h5{
  color: white;
  font-weight: bolder;
}
.guides-video-container {
  width: 80%;
  height: 50%;
  margin: 0 auto; /* to centre it*/
  margin-bottom: 50px;
  

}

.guides-video-container video { /* using your own video*/
  width: 100%; 
  height: 100%;
}
.guides-video-container iframe { /* using an embedded video*/
  width: 100%;
  border: 2px solid green;
}

.guides-grid-container{
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 columns , each takes 1/3 of the space*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  column-gap: 20px;
  grid-auto-rows: minmax(100px, auto);


  /*
  setting overflow-x: auto on the grid container to enable horizontal scrolling when the columns exceed the width of the container.
   Finally, we're setting a max-width of 100% on the container to ensure that it doesn't overflow the page itself.
  */
  overflow-x: auto;
  max-width: 100%;
}

.guides-grid-item{
  background-color: #000000e6; /*doesnt how because the images covers it*/
  /* padding: 20px; */
  border: 3px solid #249f09e6;
  
  position: relative;/* Set the grid item to position:relative to position the overlay */
}
.guides-grid-item img {
  max-width: 100%;
  max-height: 100%;

  filter: brightness(0.3); /* Set the initial brightness of the image */
  transition: filter 0.3s ease-in-out; /* Add a transition effect to the filter property */
}


.guides-grid-item:hover img {
  filter: brightness(1); /* Set the brightness of the image on hover */
}

/*****************************************
    NEWS
******************************************/

.news{
  /* background-color: black; */
  background: url(/assets/img/NewsBackground.png);
  background-size:auto;
}
.news h1,h2,h3,h4,h5{
  color: rgb(5, 155, 52);
  font-weight: bolder;
}

 .news-container{
  margin-left: 100px;
  margin-right:100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Set the column width as a fraction of the available space */
  padding: 20px;
  column-gap: 50px;
  row-gap: 50px;
  grid-auto-rows: minmax(100px, auto); /* Set the minimum height for each row and allow them to grow as needed */
  background-color:  rgba(11, 233, 41, 0);;
}

.news-grid-item{
  background-color: #0e0b0be6; /*doesnt how because the images covers it*/
  border: 3px solid #249f09e6;
  position: relative;/* Set the grid item to position:relative to position the overlay */
  overflow: hidden; /*overflow property to hidden to hide the images that extend beyond the boundaries of the div element.*/
}

.news-grid-item img {
  max-width: 100%;
  max-height: 100%;

  filter: brightness(0.3); /* Set the initial brightness of the image */
  transition: filter 0.3s ease-in-out; /* Add a transition effect to the filter property */
}

.news-grid-item:hover img {
  filter: brightness(1); /* Set the brightness of the image on hover */
}

/**********************************************************
    Text Overlay
**********************************************************/
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} 

 .text-overlay h1,h2,h2,h4,h5,h6 {
  color: rgb(6, 109, 25); /* Set the color of the text */
  font-weight: bolder;
}

.text-overlay p {
  color: white; /* Set the color of the text */
  font-size: px; /* Set the font size of the text */
  font-weight: bold; /* Set the font weight of the text */
}

/*********************************************************
  Slide show for news page
*********************************************************/

    /* Slideshow container */
    .Green-slideshow-container {
      width: 1280px;  /* set a fixed width */
      height: 500px;   /* set a fixed height */
      overflow: hidden;    /* to hide any content that overflows the container */
      position: relative;   /* to position the image inside the container */

     /* add a margin to create space between the section and the container */
      margin-right: 100px; 
      margin-left: 120px;
      border: 3px solid #249f09e6;
      
    }
    

    .Green-slideshow-container img {
      width: 100%;      /* make the image fill the width of the container */
      height: 100%;      /* make the image fill the height of the container */
      object-fit: cover;      /* or object-fit: contain; depending on your preference */
      position: absolute;      /* to position the image inside the container */
      top: 0;      /* to position the image at the top of the container */
      left: 0;      /* to position the image at the left of the container */

      filter: brightness(0.3); /* Set the initial brightness of the image */
      transition: filter 0.3s ease-in-out; /* Add a transition effect to the filter property */
    }

    .Green-img:hover{
      opacity: 1;
    }

    .Green-slideshow-container:hover img {
      filter: brightness(1); /* Set the brightness of the image on hover */
    }

    /* Hide the images by default */
    .Green-mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .Green-prev,
    .Green-next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .Green-next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .Green-prev:hover,
    .Green-next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .Green-text {
      color: #f2f2f2;
      font-size: 19x;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .Green-numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .Green-dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #ffffff;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      border: 3px solid black;
    }

    .Green-active,
    .Green-dot:hover {
      background-color: #00ff37;
    }

    /* Fading animation */
    .Green-fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes Green-fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }



/*********************************************************
Style for slogan
*********************************************************/


.slogan{
  margin: 20px 150px;
  display: inline-block;
  background-color: #000000c5;
  font-weight: bolder;
  font-size: xx-large;
  width: 80%;
  border-radius: 15px;
  text-align: center;
  
}

/*******************************************************
    Green Animated Text
********************************************************/

.green-animated-text {
  position: relative;
  animation: slide-in 5s ease-out forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.green-animated-text::before,
.green-animated-text::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.green-animated-text::before {
  left: 0;
  background-color: rgba(11, 233, 41, 0.274);
  animation: reveal-left 15s ease-out forwards;
}

.green-animated-text::after {
  right: 0;
  background-color: rgba(11, 233, 41, 0.274);
  animation: reveal-right 15s ease-out forwards;
}

@keyframes reveal-left {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes reveal-right {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
/**************************************
sliding across
**************************************/
.green-slide-across {
  position:absolute;
  white-space: nowrap;
  animation: slide 7s linear infinite;
  background-color: black;
}

@keyframes slide {
  0% {
    left: -70%;
  }

  100% {
    left: 100%;
  }
}
/**************************************
blinking texts
**************************************/
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.green-blink {
  animation: blink 2s infinite;
  text-align: center;
}

/**************************************
circular texts
**************************************/
.circular-text {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;

}

 #hero .circular-text h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: circular 10s infinite linear;
  opacity: 1;
}

@keyframes circular {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translate(150px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translate(150px) rotate(-360deg);
  }
}
/***********************************
container for booking
***********************************/

.green-booking-container {
  width: 380px;  /* set a fixed width */
  height: 350px;   /* set a fixed height */
  overflow: hidden;    /* to hide any content that overflows the container */

  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffffff00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 110px 20px;
  border-radius: 30%;
}

.green-booking-container  img {
  max-width: 100%;
  height: auto;
  border-radius: 30%;
  align-items: center;
  margin-left: 13px;
}

.green-booking-container  button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #14b73a;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.green-booking-container  button:hover {
  background-color: #00cc00;
}
/*************************
reviews, qualification and location for mechanic
**************************/
.green-collapsible {
  cursor: pointer;
}

.green-collapsible-content {
  display: none;
}

.qualification-container {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: left;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.qualification-container ul,li{
color: black;
margin: 5px;
}

.green-review-star{
  color: rgb(107, 90, 4);
}

.green-location-logo{
  color: black;
  font-size: 20px;
}

.green-qualification-logo{
  color: black;
}
/*************************
calender styling
**************************/

#green-calender {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}
#green-calender-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead th {
  padding: 5px;
  border-bottom: 1px solid #000000;
  color: black;
}

tr th{
  color: black;
}
tbody td {
  padding: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  color: black;
}
tbody td:hover {
  background-color: #0cbc38d5;
}
#book-btn {
  display: none;
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #176c06;
  color: white;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
}

#book-btn:hover {
  background-color: #2dc30f;
}
#selected-date{
margin: 10px;
width: 98px;
background-color: #ffffff7a;
border: 2px solid rgb(8, 165, 8);
}

td.selected {
  background-color: rgb(40, 120, 9);
}

/*************************
success modal
**************************/

.green-calendar-modal {
  /* margin-top: 130px; */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.819); /* Black w/ opacity */
  align-items: center;
}

/* Modal Content/Box */
.green-calendar-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #238f05;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 40%;
  font-size: xx-large;
  text-align: center;
  color: black;
}

/* The Close Button */
.green-calendar-close {
  color: #f40303;
  float: right;
  font-size: 60px;
  font-weight: bolder;
  top: 0;
  left: 0;
  display: inline;

}

.green-calendar-close:hover,
.green-calendar-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*************************
general news
**************************/
#general-news{
  background: rgba(255, 255, 255, 0.593);
}
.news-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border: 3px solid rgb(12, 155, 9);
  border-style: groove;
  border-radius: 20%;
}

